# +----------------------------------------------------------------------------+
# | FILE    : fetchtnsnames.conf                                               |
# | VERSION : 1.0                                                              | 
# | PURPOSE : This configuration file specifies the local paths and filename   |
# |           for the master TNSNAMES.ORA.                                     |
# +----------------------------------------------------------------------------+

tns_LocalPath="/u01/app/oracle/network/admin/"
tns_LocalFile="tnsnames.net"
tns_TempPath="/tmp/"
