LISTENER_1526 =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = ${HOSTNAME})(PORT = 1526))
  )
 
LOGGING_LISTENER_1526 = ON
LOG_DIRECTORY_LISTENER_1526 = /u01/app/oracle/network/log
DIAG_ADR_ENABLED_LISTENER_1526 = OFF
ADR_BASE_LISTENER_1526 = /u01/app/oracle/network/trace
TRACE_DIRECTORY_LISTENER_1526 = /u01/app/oracle/network/trace
TRACE_LEVEL_LISTENER_1526 = 0
SUBSCRIBE_FOR_NODE_DOWN_EVENT_LISTENER_1526=OFF
VALID_NODE_CHECKING_REGISTRATION_LISTENER_1526=ON
ADMIN_RESTRICTIONS_LISTENER_1526=ON
{% if cluster %}
REGISTRATION_INVITED_NODES_LISTENER_1526=({{ failover_node }})    
{% endif %}
