# +----------------------------------------------------------------------------+
# | FILE    : listener.ora                                                     |
# | VERSION : 1.0                                                              | 
# | PURPOSE : This configuration file defines the default listener             |
# |           configuration.                                                   |
# +----------------------------------------------------------------------------+

#LISTENER_<port> =
#  (DESCRIPTION = 
#    (ADDRESS = (PROTOCOL = TCP)(HOST = <local_physical_node>.eu.bcnconsulting.com)(PORT = <port>))
#    (ADDRESS = (PROTOCOL = IPC)(KEY = BIORAIPC))
#  )
#
#LOGGING_LISTENER_<port> = ON
#LOG_DIRECTORY_LISTENER_<port> = /u01/app/oracle/network/log
#DIAG_ADR_ENABLED_LISTENER_<port> = OFF
#ADR_BASE_LISTENER_<port> = /u01/app/oracle/network/trace
#TRACE_DIRECTORY_LISTENER_<port> = /u01/app/oracle/network/trace
#TRACE_LEVEL_LISTENER_<port> = 0
#SUBSCRIBE_FOR_NODE_DOWN_EVENT_LISTENER_<port>=OFF
#VALID_NODE_CHECKING_REGISTRATION_LISTENER_<port>=ON
#REGISTRATION_INVITED_NODES_LISTENER_<port>=(<remote_physical_node>.eu.bcnconsulting.com)
#SECURE_CONTROL_LISTENER_<port>=IPC
#ADMIN_RESTRICTIONS_LISTENER_<port>=ON

LISTENER_1526 =
  (DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = ${HOSTNAME})(PORT = 1526))
  )
 
LOGGING_LISTENER_1526 = ON
LOG_DIRECTORY_LISTENER_1526 = /u01/app/oracle/network/log
DIAG_ADR_ENABLED_LISTENER_1526 = OFF
ADR_BASE_LISTENER_1526 = /u01/app/oracle/network/trace
TRACE_DIRECTORY_LISTENER_1526 = /u01/app/oracle/network/trace
TRACE_LEVEL_LISTENER_1526 = 0
SUBSCRIBE_FOR_NODE_DOWN_EVENT_LISTENER_1526=OFF
VALID_NODE_CHECKING_REGISTRATION_LISTENER_1526=ON
ADMIN_RESTRICTIONS_LISTENER_1526=ON
{% if cluster %}
REGISTRATION_INVITED_NODES_LISTENER_1526=({{ failover_node }})    
{% endif %}
