NAMES.DEFAULT_DOMAIN = BOEHRINGER.COM
SQLNET.ALLOWED_LOGON_VERSION_SERVER = 11
SQLNET.ALLOWED_LOGON_VERSION_CLIENT = 11
NAMES.DIRECTORY_PATH = (TNSNAMES,LDAP)

WALLET_LOCATION =
  (SOURCE =
      (METHOD = file)
      (METHOD_DATA = (DIRECTORY = /u01/app/oracle/admin/$ORACLE_SID/wallet)))
SQLNET.ENCRYPTION_SERVER=ACCEPTED
SQLNET.ENCRYPTION_TYPES_SERVER=AES256 
